*{
margin: 10px;
}
.cabecalho-geral
{
    background-color: aqua;
    
    justify-content: space-around;
    text-align: center;
}
.titulo-cabecalho
{
    color: hotpink;
    font-size: 60px;
    font-family: cursive;
    display: flex;
    justify-content: space-around;
}
.lista-secao
{
    padding: 10px;
    font-size: 20px;
}
.tit-1-secao
{
    color: blueviolet;
    font-size: 40px;
    font-family: fantasy;
}
.tit-2-secao
{
    color: coral;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.p-tit-1
{
    font-size: 20px;
    color: green;
}
.p-tit-2
{
    font-size: 20px;
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.item-1
{
    color: darkgreen;
}
.item-2
{
    color: darkmagenta;
}
.item-3
{
    color: hotpink;
}
.item-4
{
    color: deepskyblue;
}
.secao
{
    background-color: yellow;
}
.rodape
{
    background-color: palevioletred;
    padding: 10px;
    color: blue;
}

.imagem{
    width: 450px;
    height: 400px;
}


